.footer {
  width: 100%;
  height: 100vh;
  background-color: #222222;
  font-weight: 600;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__main {
  width: 1215px;
  height: 808px;
  display: flex;
  flex-direction: column;
  align-items: center;
  
}

.footer1 {
  margin: 50px;
}




.footer3 {
  margin-top: 20px;
}

.footer .footer1 .footer1__title,
.footer .footer2 .footer2__title,
.footer .footer3 .footer3__title {
  font-size: 35px;
  margin: 0px 0px 5px;
}

.footer__txt,
.footer .footer3 .footer3__gmail {
  font-size: 23px;
  margin: 15px;
}

.footer .footer1,
.footer .footer3 {
  width: 955px;
  height: 220px;  
  border-bottom: 0.9px solid #fff;
}

.footer .footer2 {
  width: 955px;
  height: 160px;
  border-bottom: 0.9px solid #fff;
}

.footer__txt,
.footer3__gmail {
  color:rgb(181,181,181);
}

.a {
  color:#aaaaaa;
}

.a:hover {
  color:#eee;
  border-bottom: 1.9px solid #fff;

}


/*---------------footer1---------------*/

/*---------------footer2---------------*/

/* .footer .footer2 {
  width: 100%;
  height: 25%;
}

.footer .footer3 {
  width: 100%;
  height: 25%;
} */
