.footer {
  width: 100%;
  height: 100vh;
  color: white;
  display: flex;
  align-items: center;
  justify-content: center;
}

.footer__main {
  width: 1215px;
  height: 808px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer1 {
  margin: 50px;
  margin-top: 140px;
}

.footer3 {
  margin-top: 20px;
}

.footer4 {
  width: 955px;
  margin-left: 50px;
  margin-bottom: 50px;
  color: #aaaaaa;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.footer4 .footer4__col1 {
  margin-top: 30px;
  margin-right: 20px;
  margin-top: 15px;
}

.footer4,
.footer4__juso span {
  margin-left: 15px;
}

.footer4__juso {
  margin-top: 15px;
}

.footer .footer1 .footer1__title,
.footer .footer2 .footer2__title,
.footer .footer3 .footer3__title {
  font-size: 45px;
  margin: 0px 5px 5px;
  font-weight: 600;
}

.footer .footer__main .footer1 .footer1__content p {
  margin-top: 20px;
  font-size: 25px;
}

.footer__txt,
.footer .footer3 .footer3__gmail {
  font-size: 23px;
  margin: 15px;
  font-weight: 500;
}

.footer .footer1,
.footer .footer3 {
  width: 955px;
  height: 220px;
  border-bottom: 0.9px solid rgb(110, 110, 110);
}

.footer .footer2 {
  width: 955px;
  height: 160px;
  border-bottom: 0.9px solid rgb(110, 110, 110);
}

.footer2 .footer__txt {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.footer2 input {
  width: 140px;
  height: 40px;
  outline: none;
  background: none;
  border: none;
  border-radius: 50px;
  background: linear-gradient(#fe1775, #f65d5d);
  color: white;
  font-weight: 600;
  font-size: 18px;
  transition: 1s;
}

.footer2 input:hover {
  box-shadow: 2px 4px 6px #9d4e70;
}

.footer__txt,
.footer3__gmail {
  color: rgb(181, 181, 181);
}

.a {
  color: #aaaaaa;
}

.a:hover {
  color: #eee;
  border-bottom: 1.9px solid #fff;
}

/*---------------footer1---------------*/

/*---------------footer2---------------*/

/* .footer .footer2 {
  width: 100%;
  height: 25%;
}

.footer .footer3 {
  width: 100%;
  height: 25%;
} */
