.Header {
  width: 100%;
  position: absolute;
  background-color: none;
  display: flex;
  justify-content: space-between;
  color: white;
}
.logo__col1 {
  width: 200px;
  height: 85px;
}
.menu {
  margin-top: 20px;
  margin-right: 90px;
}
.menu .menu__col1,
.menu .menu__col2 {
  font-size: 28px;
  font-weight: 390;
}
