.Header {
  width: 100%;
  position: absolute;
  background-color: none;
  display: flex;
  justify-content: space-between;
  color: white;
}
.logo__col1 {
  width: 200px;
  height: 85px;
}
.menu__col1,
.menu__col2 {
  font-size: 16px;
}
