.screen03 {
  width: 100%;
  height: 130vh;

  background: linear-gradient(to bottom, #f56a79, #ffe2e2);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.screen03 .screen03__main {
  width: 100%;
  height: 100%;

  display: flex;
  align-items: center;
}

.screen03 .screen03__main .screen03__mockup img {
  width: 310px;
  height: 610px;
  border-radius: 30px;

  margin-left: 280px;
  margin-top: 55px;
  position: absolute;
}

.screen03 .screen03__main .screen03__mockup .mockup__img {
  width: 270px;
  height: 580px;
  border-radius: 30px;

  background-image: url("https://file.osen.co.kr/article/2020/09/10/202009101849775434_5f59f8d18df5a.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  margin-left: 300px;
  margin-top: 70px;
}

.screen03 .screen03__txt {
  width: 30%;
  height: 20%;

  margin-top: 230px;
  margin-left: 60px;
  color: #0b0b0b;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.screen03__txt .screen03__txt1 {
  width: 100%;
  height: 100%;

  font-size: 65px;
  font-weight: 600;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.screen03 .screen03__txt .screen03__txt2 {
  width: 100%;
  height: 100%;

  margin-top: 70px;
  font-size: 30px;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

@media (max-width: 1110px) {
  .screen03__txt .screen03__txt1 {
    font-size: 40px;
  }
  .screen03__txt .screen03__txt2 {
    font-size: 10px;
  }
}

@media (max-width: 1023px) {
  .screen03__txt .screen03__txt2 {
    font-size: 20px;
  }
}

@media (max-width: 990px) {
  .screen03__txt .screen03__txt1 {
    font-size: 30px;
  }
}
