.screen02 {
  width: 100%;
  height: 100vh;
  background-image: url("http://leafsoftware.cafe24.com/ajoa/assets/images/MM00/page-plus-back.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.screen02 .screen02__main {
  width: 100%;
  height: 700px;
  display: flex;
}

.screen02 .screen02__main .screen02__mockup img {
  width: 310px;
  height: 610px;
  border-radius: 30px;

  margin-left: 270px;
  margin-top: 100px;
  position: absolute;
}

.screen02 .screen02__main .screen02__mockup .mockup__img {
  width: 270px;
  height: 570px;
  border-radius: 30px;

  background-image: url("https://t1.daumcdn.net/cfile/blog/243BD43352DD1B5D12");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  margin-left: 285px;
  margin-top: 120px;
}

.screen02 .screen02__txt {
  width: 30%;
  height: 20%;

  margin-top: 340px;
  margin-left: 40px;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.screen02__txt .screen02__txt1 {
  width: 100%;
  height: 100%;

  font-size: 65px;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.screen02 .screen02__txt .screen02__txt2 {
  width: 100%;
  height: 100%;

  margin-top: 125px;
  font-size: 25px;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

@media (max-width: 1600px) {
  .screen02__txt .screen02__txt1 {
    font-size: 60px;
  }
  .screen02 .screen02__main .screen02__mockup img {
  }
}

@media (max-width: 1528px) {
  .screen02__txt .screen02__txt1 {
    font-size: 50px;
  }
}

@media (max-width: 1275px) {
  .screen02__txt .screen02__txt1 {
    font-size: 40px;
  }
}

@media (max-width: 1025px) {
  .screen02__txt .screen02__txt1 {
    font-size: 30px;
  }
}

@media (max-width: 839px) {
  .screen02__txt .screen02__txt1 {
    font-size: 25px;
  }
}
