.screen01 {
  width: 100%;
  height: 100vh;
}
.screen01__col1 {
  width: 100%;
  height: 100%;
  background: linear-gradient(#ee5253, #ff9f43);
  color: white;
}

.screen01__mockup {
  width: 312px;
  height: 610px;
  border-radius: 30px;
  margin-left: 60px;

  background-color: blue;
}
