.screen05 {
  width: 100%;
  height: 130vh;

  background: linear-gradient(to bottom, #f56a79, #f9c0c0);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.screen05 .screen05__main {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.screen05 .screen05__main .screen05__mockup img {
  width: 330px;
  height: 637px;

  border-radius: 30px;
  margin-top: 55px;
  position: absolute;
}

.screen05 .screen05__main .screen05__mockup .mockup__img {
  width: 290px;
  height: 600px;
  border-radius: 30px;

  background-image: url("https://t1.daumcdn.net/movie/c102e85c25a3d50838ef5869ba9cc9bafed3be0a");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  margin-left: 20px;
  margin-top: 70px;
}

.screen05 .screen05__txt {
  width: 30%;
  height: 20%;

  margin-top: 230px;
  margin-left: 40px;
  color: #fff;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.screen05__txt .screen05__txt1 {
  width: 100%;
  height: 100%;

  font-size: 50px;
  font-weight: 600;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.screen05__txt .screen05__txt2 {
  width: 100%;
  height: 100%;

  font-size: 25px;
  margin-top: 85px;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}
.screen05__txt .screen05__txt3 {
  width: 100%;
  height: 100%;

  font-size: 25px;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

@media (max-width: 1388px) {
  .screen05__txt .screen05__txt1 {
    font-size: 50px;
  }
  .screen05 .screen05__txt .screen05__txt2 {
    font-size: 35px;
  }
  .screen05 .screen05__txt .screen05__txt3 {
    font-size: 35px;
  }
}

@media (max-width: 1364px) {
  .screen05 .screen05__txt .screen05__txt1 {
    font-size: 45px;
  }
  .screen05 .screen05__txt .screen05__txt2 {
    font-size: 30px;
  }
  .screen05 .screen05__txt .screen05__txt3 {
    font-size: 30px;
  }
}

@media (max-width: 1240px) {
  .screen05 .screen05__txt .screen05__txt1 {
    font-size: 40px;
  }
  .screen05 .screen05__txt .screen05__txt2 {
    font-size: 25px;
  }
  .screen05 .screen05__txt .screen05__txt3 {
    font-size: 25px;
  }
}

@media (max-width: 1164px) {
  .screen05 .screen05__txt .screen05__txt1 {
    font-size: 35px;
  }
  .screen05 .screen05__txt .screen05__txt2 {
    font-size: 20px;
  }
  .screen05 .screen05__txt .screen05__txt3 {
    font-size: 20px;
  }
}

@media (max-width: 1046px) {
  .screen05 .screen05__txt .screen05__txt1 {
    font-size: 30px;
  }
  .screen05 .screen05__txt .screen05__txt2 {
    font-size: 20px;
  }
  .screen05 .screen05__txt .screen05__txt3 {
    font-size: 20px;
  }
}

@media (max-width: 857px) {
  .screen05 .screen05__txt .screen05__txt1 {
    font-size: 25px;
  }
  .screen05 .screen05__txt .screen05__txt2 {
    font-size: 20px;
  }
  .screen05 .screen05__txt .screen05__txt3 {
    font-size: 20px;
  }
}

@media (max-width: 809px) {
  .screen05 .screen05__txt .screen05__txt1 {
    font-size: 20px;
  }
  .screen05 .screen05__txt .screen05__txt2 {
    font-size: 15px;
  }
  .screen05 .screen05__txt .screen05__txt3 {
    font-size: 15px;
  }
}

@media (max-width: 772px) {
  .screen05 .screen05__txt .screen05__txt1 {
    font-size: 30px;
  }
  .screen05 .screen05__txt .screen05__txt2 {
    font-size: 20px;
  }
  .screen05 .screen05__txt .screen05__txt3 {
    font-size: 20px;
  }
}

@media (max-width: 770px) {
  .screen05 .screen05__txt .screen05__txt1 {
    font-size: 20px;
    z-index: 3;
  }
  .screen05 .screen05__txt .screen05__txt2 {
    font-size: 15px;
    z-index: 3;
  }
  .screen05 .screen05__txt .screen05__txt3 {
    font-size: 15px;
    z-index: 3;
  }
}

@media (max-width: 710px) {
  .screen05 .screen05__txt .screen05__txt1 {
    font-size: 15px;
  }
  .screen05 .screen05__txt .screen05__txt2 {
    font-size: 10px;
  }
  .screen05 .screen05__txt .screen05__txt3 {
    font-size: 10px;
  }
}
