.screen03 {
  width: 100%;
  height: 100vh;
  background-color: rebeccapurple;
}

.screen03 .screen03__main {
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.screen03 .screen03__main .screen03__mockup img {
  width: 312px;
  height: 610px;
  border-radius: 30px;
  background-color: blue;
  /* margin-left: 480px; */
}

.screen03 .screen03__main .screen03__txt .screen03__txt1 {
  font-size: 55px;
  font-weight: 600;
  background-color: linear-gradient(#ee5253, #ff9f43);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
