.screen01 {
  width: 100%;
  height: 100vh;
  background: linear-gradient(#ee5253, #ff9f43);
}

.screen01 .screen01__main {
  width: 100%;
  height: 700px;

  display: flex;
}

.screen01 .screen01__main .screen01__mockup img {
  width: 400px;
  height: 772px;
  border-radius: 30px;

  margin-left: 270px;
  margin-top: 140px;
}

.screen01 .screen01__txt {
  width: 30%;
  height: 20%;

  margin-top: 300px;
  margin-left: 200px;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.screen01__txt .screen01__txt1 {
  width: 100%;
  height: 100%;

  font-size: 45px;
  font-weight: 600;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.screen01__txt .screen01__txt2 {
  width: 100%;
  height: 100%;

  font-size: 25px;
  margin-top: 65px;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}
.screen01__txt .screen01__img {
  margin-top: 40px;
}
.screen01__txt .screen01__img .img__col1 {
  margin-right: 30px;
  cursor: pointer;
}
.screen01__txt .screen01__img .img__col2 {
  cursor: pointer;
}
