.screen04 {
  width: 100%;
  height: 100vh;
  background-image: url("http://leafsoftware.cafe24.com/ajoa/assets/images/MM00/page3-back.png");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
}

.screen04 .screen04__main {
  width: 100%;
  height: 700px;

  display: flex;
}

.screen04 .screen04__main .screen04__mockup img {
  width: 330px;
  height: 637px;

  border-radius: 30px;
  margin-left: 20px;
  margin-top: 85px;
  position: absolute;
}

.screen04 .screen04__main .screen04__mockup .mockup__img {
  width: 300px;
  height: 600px;
  border-radius: 30px;

  background-image: url("https://www.google.com/url?sa=i&url=https%3A%2F%2Fwww.donga.com%2Fnews%2FCulture%2Farticle%2Fall%2F20200809%2F102369337%2F1&psig=AOvVaw2tmMsHEST04Lnt1KB26LRO&ust=1602332830051000&source=images&cd=vfe&ved=0CAIQjRxqFwoTCJjayb_Bp-wCFQAAAAAdAAAAABAD");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;

  margin-left: 300px;
  margin-top: 80px;
}

.screen04 .screen04__txt {
  width: 35%;
  height: 20%;

  margin-top: 300px;
  margin-left: 400px;
  margin-right: 60px;
  color: #fff;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.screen04__txt .screen04__txt1 {
  width: 100%;
  height: 100%;

  font-size: 45px;
  font-weight: 600;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.screen04__txt .screen04__txt2 {
  width: 100%;
  height: 100%;

  font-size: 25px;
  margin-top: 85px;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}

.screen04__txt .screen04__txt3 {
  width: 100%;
  height: 100%;

  font-size: 25px;
  margin-top: 10px;

  display: flex;
  flex-direction: column;

  align-items: center;
  justify-content: center;
}
